.case-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100vw;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0% !important;
    padding: 0%;
}